.categories-card {
  height: 26.125rem;
  width: 17.5rem;
  border-radius: 12px;
}

.categories-card img {
  height: 90%;
  object-fit: cover;
  border-radius: 12px;
}

.categories-card p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: var(--black);
}
