.categories-container {
  padding: 0px 40px 0px 40px;
}

.categories-container h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 64px;
  line-height: 110%;
  color: var(--black);
}

.categories-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
