.contact-form-container {
  background: linear-gradient(220deg, #0b710b 0%, #393 100%);
  border-radius: 12px;
  padding: 32px 0px 0px 32px;
  margin: 1rem;
  height: 486px;
}
.contact-form-container h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 64px;
  line-height: 110%;
  text-align: center;
  color: var(--white);
}
/* height needs to be changed, gets very broken on small screens :( */
.form-with-image {
  display: flex;
  height: 383px;
}
