.footer-container {
  padding: 0px 40px 0px 40px;
  /* height: 59.25rem; */
}

.footer-container h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 64px;
  line-height: 110%;
  color: var(--black);
}

.footer-container h3 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  color: var(--black);
}

.footer-container p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: var(--grey);
}

.info-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  padding: 2rem 0px 2rem;
}

.info-card {
  border-radius: 12px;
  padding: 2rem;
  height: 150px;
  background: var(--light-grey);
}

.socials-container {
  display: flex;
  gap: 1rem;
}
