.on-sale-container {
  padding: 0px 40px 80px 40px;
}

.on-sale-container h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 64px;
  line-height: 110%;
  color: var(--black);
}

.on-sale-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

/* прописать свойство grid для одинаковой ширины */
.product {
  border: 1px solid var(--grey-divider);
  border-radius: 12px;
  min-width: 25%;
}

.product img {
  height: 70%;
  width: 100%;
  object-fit: fill;
  border-radius: 12px;
}

.product-info-container {
  padding: 0 2rem 2rem 2rem;
}

.price-container {
  display: flex;
  gap: 0.5rem;
}
